body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(71, 21, 131);
}

h1 {
    font-size: 1.7rem;
    color: rgb(255, 255, 255);
}

p {
    font-size: 1.2rem;
    color: rgb(255, 255, 255);
    width: 500px;
    position: absolute;
    left: 15%;
    top: 10%;
    border: 2px solid black;
    padding: 2rem;
}

img {
    position: absolute;
    top: 13%;
}